@model CreateStationInputModel
@{
    ViewData["Title"] = "Create";
}

<h2 class="text-left m-2">Create Station</h2>

<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="StationName"></label>
                <input asp-for="StationName" class="form-control" />
                <span asp-validation-for="StationName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="StationCode"></label>
                <input asp-for="StationCode" class="form-control" />
                <span asp-validation-for="StationCode" class="text-danger"></span>
            </div>
            <div>
                <button type="submit" class="btn btn-outline-info">Create</button>
            </div>
        </form>
    </div>
</div>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

